{% extends 'base.html.twig' %}

{% block title %}Résultats - Match Live{% endblock %}


{% block body %}
  <script async defer src="https://widgets.scorenco.com/host/widgets.js"></script>

{# Girondins de bordeaux Live #}
<div class="scorenco-widget" data-widget-type="live" data-widget-id="111462" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
  <div class="ldsdr"></div>
  </div>

{# UBB Live #}

<div class="scorenco-widget" data-widget-type="live" data-widget-id="111528" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
  <div class="ldsdr"></div>
  </div>


{# Burdies Live #}

<div class="scorenco-widget" data-widget-type="live" data-widget-id="111529" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
  <div class="ldsdr"></div>
  </div>

{# JSA Live #}

  <div class="scorenco-widget" data-widget-type="live" data-widget-id="111530" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
  <div class="ldsdr"></div>
  </div>
  
{# Ambitions girondines Live #}

  <div class="scorenco-widget" data-widget-type="live" data-widget-id="111531" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
  <div class="ldsdr"></div>
  </div>
{# Boxers Live #}


<div class="scorenco-widget" data-widget-type="live" data-widget-id="111532" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
  <div class="ldsdr"></div>
  </div>
  
{% endblock %}
