{% extends 'base.html.twig' %}

{% block title %}Tout les sports{% endblock %}

{% block body %}
{% set sports = [
    { name: 'Football', slug: 'football', image: '/medias/football-banner.webp' },
    { name: 'Rugby', slug: 'rugby', image: '/medias/rugby-banner.webp' },
    { name: 'Volleyball', slug: 'volleyball', image: '/medias/volleyball-banner.webp' },
    { name: 'Hockey-Sur-Glace', slug: 'hockey-sur-glace', image: '/medias/categorie-hockey.webp' },
    { name: 'Basketball', slug: 'basketball', image: '/medias/basketball-banner.webp' }
] %}

<style>
    .parallax-banner {
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
        <h1 class="text-3xl sm:text-4xl md:text-5xl text-primary-blue font-title pb-2">Retrouvez tout vos sports favoris !</h1>

{% for sport in sports %}
    <a
        href="{{ path('app_sport_show', { slug: sport.slug }) }}"
        class="block relative w-full h-[100px] sm:h-[250px] mb-8 parallax-banner group"
        style="background-image: url('{{ sport.image }}');"
    >
        {% if loop.index is odd %}
            <div class="absolute inset-0 bg-gradient-to-r from-black/70 via-black/30 to-transparent"></div>
        {% else %}
            <div class="absolute inset-0 bg-gradient-to-l from-black/70 via-black/30 to-transparent"></div>
        {% endif %}

        <div class="relative z-10 h-full flex items-center justify-start max-w-7xl mx-auto px-6">
            <h2 class="text-white text-2xl sm:text-3xl md:text-4xl transition-transform transition-colors duration-300 font-normal">
                {{ sport.name }}
            </h2>
        </div>
    </a>
{% endfor %}
{% endblock %}
