@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Utilise Roboto Condensed comme police par défaut */
body {
  @apply font-body;
}

/* Applique Anton aux balises HN */
h1, h2, h3, h4, h5, h6 {
  @apply font-title;
}

/* Pagination */



.page-item {
  display: inline-block;
}

.page-link {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid #e5e7eb; /* Gray-200 */
  color: #374151; /* Gray-700 */
  border-radius: 0.25rem;
  transition: background-color 0.2s, color 0.2s;
}

.page-link:hover {
  background-color: #f3f4f6; /* Gray-100 */
  color: #1f2937; /* Gray-900 */
}

.page-item.active .page-link {
  background-color: #2563eb; /* Blue-500 */
  color: #ffffff; /* White */
  border: 1px solid #2563eb; /* Blue-500 */
}

.page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
}
