<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Bordeaux Sports Actu{% endblock %}</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ asset('medias/bsa-fav-icon-dark.png') }}">
        <link rel="shortcut icon" href="{{ asset('medias/bsa-fav-icon-dark.png') }}">

        <!-- Préconnexion CDN (optimisation) -->
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>

        <!-- Feuilles de styles -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Librairies JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js" defer></script>

        <!-- Métadonnées SEO -->
        <meta name="description" content="{% block meta_description %}Actus sportives à Bordeaux.{% endblock %}">
        <meta name="author" content="Bordeaux Sports Actu">
        <meta name="robots" content="index, follow">
    </head>

    <body class="bg-[#dce6ef]">
        {% include 'header.html.twig' %}

        <main role="main" class="sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 mx-auto px-4 mt-8">
            {% block body %}{% endblock %}
        </main>

        {% include 'footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
