<footer class="bg-gray-900 text-white mt-10">
    <div class="container mx-auto text-center py-4">
        <ul class="flex justify-center space-x-4 mb-4">
            <li><a href="{{ path('app_about_us') }}" class="hover:text-gray-400">Qui sommes-nous ?</a></li>
            <li><a href="{{ path('app_privacy_policy') }}" class="hover:text-gray-400">Politique de Cookies</a></li>
            <li><a href="{{ path('app_mentions_legales') }}" class="hover:text-gray-400">Mentions légales</a></li>
        </ul>
        <p class="text-sm">&copy; {{ "now"|date("Y") }} Mon Site. Tous droits réservés.</p>
    </div>
</footer>
